<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--start page-->
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>ua.myhospital.servlet.StartServlet</servlet-class>
    </servlet>


    <!--FOR REG ONLY-->
    <servlet>
        <servlet-name>ForReg</servlet-name>
        <servlet-class>ua.myhospital.servlet.RegServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForReg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>


    <!--FOR SING IN ONLY-->
    <servlet>
        <servlet-name>ForSign</servlet-name>
        <servlet-class>ua.myhospital.servlet.SignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForSign</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>


    <!--filter check exist session for sign in-->

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ua.myhospital.servlet.AuthServlet</servlet-class>
    </servlet>

    <!--add user-->
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>ua.myhospital.servlet.AddPatientServlet</servlet-class>
    </servlet>



    <!--Logout servlet-->
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>ua.myhospital.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>

        <!--Reg for admins-->
        <servlet-name>Adminreg</servlet-name>
        <servlet-class>ua.myhospital.servlet.AdminRef</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Adminreg</servlet-name>
        <url-pattern>/adminreg</url-pattern>
    </servlet-mapping>

</web-app>